<!DOCTYPE html>
<html>
  <head lang="en" prefix="og: http://ogp.me/ns#">
    <title>Mediyum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Mediyum" />
    <meta property='og:image' content="<%= image_url('preview.png') %>"/>
    <meta property="og:description" content="A site for sharing short-form recipes." />
    <meta property="og:url" content="https://mediyum.herokuapp.com/#/" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- 
      <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    -->
    <link data-rh="true" rel="icon" href="https://miro.medium.com/1*m-R_BkNf1Qjr1YbyOIJY2w.png" alt='M'>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
